body {
  font-family: "Montserrat", sans-serif;
  height: 100vh; /* Ensure full height */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.wrapper {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack containers vertically */
  align-items: center; /* Center containers horizontally */
  justify-content: center; /* Center containers vertically */
  height: 100vh; /* Ensure full viewport height */
}

.heading-container {
  width: 80%; /* Occupy the full width of the parent container */
  text-align: center; /* Center the text horizontally */
  margin-bottom: 20px; /* Add some space between the heading and the form */
}

.container {
  max-width: 400px; /* Adjust the maximum width as needed */
  width: 60%; /* Optional: You can also specify a percentage width */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container p {
  text-align: center;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  padding-right: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ce4257;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #9c3645;
}

.form-message {
  color: red;
  text-align: center;
}
