<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Login Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles-login.css') }}"
    />

    <!--Favicon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.png') }}"
    />

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="heading-container">
        <h1>Automatic Number Plate Recognition (ANPR) System</h1>
      </div>
      <div class="container">
        <h2>Login</h2>
        <form id="login-form">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
          </div>
          <button type="submit">LOGIN</button>
        </form>
        <p id="form-message" class="form-message"></p>
        <!-- Add paragraph for sign in text -->
        <p>
          No account? Create one <a href="{{ url_for('signup') }}">Sign up</a>
        </p>
      </div>
    </div>

    <script
      type="module"
      src="{{ url_for('static', filename='js/app-login.js') }}"
    ></script>
  </body>
</html>
