<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Number Plate List</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles-platelist.css') }}"
    />

    <!--Favicon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.png') }}"
    />

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Number Plate List</h1>
      <ul id="plateList">
        <!-- Plates will be dynamically added here -->
      </ul>
    </div>

    <div class="back-btn-container">
      <button class="back-btn" id="back-btn">Back</button>
    </div>

    <script
      type="module"
      src="{{ url_for('static', filename='js/app-platelist.js') }}"
    ></script>
  </body>
</html>
